.form-text-field {
    &__input {
        margin-bottom: 7px;
        width: 100%;
    }

    &__error {
        font-size: 16px;
        display: flex;
        align-items: center;
    
        svg {
            color: red;
            font-size: 14px;
            margin-top: -2px;
        }
    
        p {
            color: red;
            font-size: 13px;
            margin-left: 6px;
        }
    }
}