.navbar {
    padding: 8px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
    }

    &__link {
        display: flex;
        font-size: 18px;

        li {
            margin-left: 16px;
        }
    }

    &__user {
        display: flex;
        align-items: center;

        &__avatar {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                margin-left: 8px;
            }
        }

        &__dropdown {
            position: absolute;
            z-index: 1;
            top: 44px;
            right: 0;
            width: 100px;
            text-align: right;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 4px;
            animation: fadeIn 0.2s ease-in-out;

            ul {
                overflow: hidden;
                border-radius: 4px;

                li {
                    padding: 4px 12px;
                    cursor: pointer;

                    &:hover {
                        background-color: #eee;
                    }

                    &:nth-child(1) {
                        border-bottom: 1px solid #ccc;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: -8px;
                right: 8px;
                width: 0;
                height: 0;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-bottom: 8px solid #fff;
            }

            &::after {
                content: "";
                position: absolute;
                top: -20px;
                right: -10px;
                width: 50px;
                height: 20px;
                
            }

            @keyframes fadeIn {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
        }
    }
}
