// Define some variables for the theme

// Example: color
$primary-color: #3c9add;
$primary-color-dark: #2f76a8;
$primary-color-light: #68c0ff;
$secondary-color: #8ee1ff;
$text-primary-color: rgba(0, 0, 0, 0.839);
$text-secondary-color: rgba(0, 0, 0, 0.4);